# RStudio / History
.Rhistory
.RData
.Rproj.user/

# IDE / Editor
.vscode/
.idea/

# Ambiente
junk/
.renvignore
.rscignore
.lintr

# OS X
.DS_Store

# Build temporanei
qproms_*.tar.gz

.github/
junkdir/
.github/
junkdir/
